# File to apply for prod release
apiVersion: appstudio.redhat.com/v1alpha1
kind: Release
metadata:
  # Name based on release
  name: ove-ui-4-20-release-4-20-z6
  namespace: ocp-agent-based-installer-tenant
  labels:
    # Include the application label for filtering, update this for each release
    appstudio.openshift.io/application: ove-ui-4-20
spec:
  # The name of the ReleasePlan that defines the promotion pipeline (e.g., stage or production pipeline).
  releasePlan: ocp-ove-ui-iso-release-4-20
  # The name of the snapshot that maps to the tested container image
  snapshot: ove-ui-4-20-golden-4-20-z6
