[Unit]
Description=Set up agent-tui and nmstate libraries
After=run-media-iso.mount
Before=agent-interactive-console.service
Requires=run-media-iso.mount

[Service]
Type=oneshot

ExecPreStart=/bin/bash -c \"podman tag $(podman load -q -i /run/media/iso/images/assisted-install-ui/assisted-install-ui.tar | awk '{print $NF}') localhost/agent-installer-ui:latest"
ExecStart=/bin/bash /run/media/iso/agent-artifacts/setup-agent-tui.sh

[Install]
WantedBy=multi-user.target